.div {
  background-color: #b0c9df;
  text-align: center;
  margin-top: 35%;
  margin-left: 33%;
  margin-right: 33%;
  font-family: helvetica;
  border-radius: 60%;
  margin-bottom: 10%;

}

#opacity {
  background-color: #b0c9df;
  filter: alpha(opacity=60);
}

h1 {
  padding-top: 20%;
  font-size: 3em;
  padding-bottom: 20%;
}

p{
  padding-bottom: 3%;
  font-size: 1.3em;
  color: #D3E2EF;
  padding-left: 7%;
  padding-right: 7%;
}

h1#demo {
  color: #D3E2EF;
}
